body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.bar {
  width: 100%;
}

.btn {
  float: right;
  color: white;
  font-size: 20px;
  padding: 5px 80px;
  background-color: steelblue;
  margin-top: 10px;
}

.grid {
  width: 100%;
  margin-top: 80px;
}

.input {
  width: 100%;
}

.label {
  margin-top: 30px;
}

.login {
  display: flex;
  justify-content: center;
}